
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="user_info">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to our Solar Vision</h1>
    <div class="Sun">
      <%= image_tag "Sun.jpeg", :alt => "rss feed", :size => '250x200'%>
    </div>
    <%= link_to "Log in!", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>