<% provide(:title, "How It Works") %>

<h1>How It Works</h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <%= image_tag "1.jpg", :alt => "First Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "2.jpg", :alt => "Second Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "3.jpg", :alt => "Third Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "3i.jpg", :alt => "Fourth Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "4.jpg", :alt => "Fifth Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "4ii.jpg", :alt => "Sixth Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "5.jpg", :alt => "Seventh Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "5iii.jpg", :alt => "Eigth Image", :class => 'slideshow_picture'%>
    </div>
    <div class="item">
        <%= image_tag "6.jpg", :alt => "Ninth Image", :class => 'slideshow_picture'%>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>





</div>


