<%= form_for(@appliance) do |f| %>
  <% if @appliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appliance.errors.count, "error") %> prohibited this appliance from being saved:</h2>

      <ul>
      <% @appliance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="TextInputs">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :average_time %><br>
    <%= f.number_field :average_time %>
  </div>
  <div class="field float_left">
      <%= f.label :all_day %></br>
      <%= f.check_box :all_day %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-info btn-lg" %>
  </div>
</div>
<% end %>
