<!-- <p id="notice"><%= notice %></p> -->
<% provide(:title, "Showing Appliance") %>
<style>
  h1 {
    color: #000000;
  }
</style>
<body class="background-solar-panel">
  <div class="PanelsPage" class="AppliancePaddingFix">
    <p>
      <h1>
        <strong><%= @appliance.name %></strong>
      </h1>
    </p>
  
    <p class="NamePower">
      <strong>Power:</strong>
      <%= @appliance.power %> W
    </p>
    
    <p class="NamePower">
      <strong>Average time:</strong>
      <%= @appliance.average_time %>
    </p class="NamePower">
    
    <p class="NamePower">
      <strong>All day:</strong>
      <%= @appliance.all_day %>
    </p>
    
    <div class="center">
      <%= link_to 'Edit', edit_appliance_path(@appliance) %> |
      <%= link_to 'Back', appliances_path %>
    </div>
  </div>
</body>
