<p id="notice"><%= notice %></p>

<h1>Listing Panels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @panels.each do |panel| %>
      <tr>
        <td><%= panel.name, "", class: 'form-control' %></td>
        <td><%= panel.power %></td>
        <td><%= link_to 'Show', panel %></td>
        <td><%= link_to 'Edit', edit_panel_path(panel) %></td>
        <td><%= link_to 'Destroy', panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Panel', new_panel_path %>
