<!-- <p id="notice"><%#= notice %></p> -->
<% provide(:title, "Showing Panel") %>
<style>
  h1 {
    color: #000000;
  }
</style>

<body class="background-solar-panel">
  <div class="PanelsPage" class="AppliancePaddingFix">
    <p>
      <h1>
        <strong><%= @panel.name %></strong>
      </h1>
    </p>
    
    <p class="NamePower">
      <strong>Rated Watts:</strong> W
      <%= @panel.power %>
    </p>
    
    <p class="NamePower">
      <strong>Tracking:</strong>
      <%= @panel.tracking %>
    </p>
    
    <div class="center">
      <%= link_to 'Edit', edit_panel_path(@panel) %> |
      <%= link_to 'Back', panels_path %>
    </div>
  </div>
</body>