<!-- <p id="notice"><%#= notice %></p> -->

<p>
  <h1>
    <strong>Panel:</strong>
    <%= @panel.name %>
  </h1>
</p>

<p class="NamePower">
  <strong>Rated Watts:</strong>
  <%= @panel.power %>
</p>

<p class="NamePower">
  <strong>Tracking:</strong>
  <%= @panel.tracking %>
</p>

<div class="center">
  <%= link_to 'Edit', edit_panel_path(@panel) %> |
  <%= link_to 'Back', panels_path %>
</div>