<!-- <p id="notice"><%#= notice %></p> -->
<style>
  body {
    color: #000000;
    background: url('https://lh3.googleusercontent.com/c9G65oHz4ZoJ0svFeZHvrSqVghchLSxK1gqWjI1qWQL2YNzZYm-XKSukd20FTbrn41_5IaIb3DU7iNPO1CQ6ozLN6klHfrbwYBSF87bc3-KiShNonXKrwCHiAjPT2BdhzvXSglFAHYKb7WIKSUu5cgTe20fchr1tSXKAOYzNehTUxFXzHO92L0_k0qf_ZgT6EpaMDlntQZAFM2jH0FcMNDRz39WFLdeD2Cmyr3Timu5ERwcbln4cmOe5n1otGJ9czDmMaEPtI6guL1pSl0J-nI4A_M6edtAJYH-z4YMCmSteuSWS3Agp5ffgMCOLgLHRoaoocmMl1maLzFXEwj6bu0IAkg7ivYY0dDbotGScy6d314irgEz3zU1xNcDEXW1RUtB-hHinuBklTjoS75xSaELL1TdsKwGP0INKJPbY-uxamuqSiedVxYOUrZvT2O_1qzrV7gj-UHtEceqPB6afe2ObVLDB9UdPaHlZWZ4HbXeCfxEHqwNnLtqhKm8ADcECVPhGK2PSTZmzoMgQdjkLecI8ke0emrCafp_hkTI_BhjMA7KzTJ6RSorMvCv-AuvuZj_lRlHW4a8iQlo7xWn-vl6rEcnZeYj44d_FRrQGYo7Pzdq2UrpJHBb9ZFpXs25iBSmBUavZiApJB3syPBj3-oVRRpyzPOKVOb1BZDZ24pE=w2410-h1606-no');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  html {
    height: 100%;
  }
  
  h1 {
    color: #000000;
  }
  
</style>

<p>
  <h1>
    <strong>Panel:</strong>
    <%= @panel.name %>
  </h1>
</p>

<p class="NamePower">
  <strong>Rated Watts:</strong>
  <%= @panel.power %>
</p>

<p class="NamePower">
  <strong>Tracking:</strong>
  <%= @panel.tracking %>
</p>

<div class="center">
  <%= link_to 'Edit', edit_panel_path(@panel) %> |
  <%= link_to 'Back', panels_path %>
</div>