<script>
  /* Set the width of the side navigation to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<div class="mobile-header">
<header class="navbar-fixed-top  navbar-inverse">
  
  
  <% if logged_in? %>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Profile", current_user %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <% if current_user.admin? %>
      <li><%= link_to "Administrative Tools", admin_tools_path %></li>
    <% end %>
    <%= link_to "Log out", logout_path, method: "delete" %>
  <% end %>

  
  <div class="header_title">
  <!-- Use any element to open the sidenav -->
  <div class="pad_left">
    <span class="selector fa fa-bars fa-1x white_bars" aria-hidden="true" onclick="openNav()"></span>
  </div>
    <div class="pad_left">
      <%= link_to "SOLAR VISION", root_path %>
    </div>
  
    <div class="pad_right">
      <%= link_to "MY ACCOUNT", index_path %>
    </div>
  </div>
    
    <div style="float: clear"></div>
          
  </div>
</header>
</div>



<div id="mySidenav" class="sidenav">
  
  <a href="javascript:void(0)" class="closebtn" id="closebtnID" onclick="closeNav()">&times;</a>
  <a href="/panels">Panels</a>
  <a href="/appliances">Appliances</a>
  <a href="/caniuse">Can I Use?</a>
  <a href="/analysis">Analysis</a>
  <a href="/howitworks">How It Works</a>
  </div>

  

  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">